.cont {
  width: 450px;
  height: 750px;
  background-color: black;
  border-radius: 10px;
}
.input {
  border-radius: 5px;
  height: 40px;
}
.timer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid #FDE2E2;
}
.time {
  color: #FDE2E2;
}
.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FDE2E2;
  border: 2px solid #FE7A7A;
}
.mainBtn {
  width: 70%;
  background-color: #FE7A7A;
  height: 60px;
  border-radius: 10px;
}
.board {
  background-color: #FDE2E2;
  border-radius: 10px;
  height: 150px;
}